
@{
    Layout = null;
}

<h3>MVC Kamp Tablo - Kategori</h3>
<br />

<table style="table-bordered">
    <tr>
        <th>Id</th>
        <th>Kategori Adı</th>
        <th>Açıklaması</th>
        <th>Durumu</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama</td>
        <td>Durum</td>
    </tr>
</table>